<!DOCTYPE html>
<html>
<head>
	<title>404 page</title>
</head>
<body>
<h3><strong>Opps!</strong>, this is 404 page</h3>
	
	<%- include('./layout/head')%>
<p>page not found!</p>

	<%- include('./layout/footer') %>

</body>
</html>