<!DOCTYPE html>
<html>
<head>
	<title>about page</title>
</head>
<body>

<h4><strong>About Us</strong>, this is about page</h4>
<%- include('./layout/head')%>

<p>this is appear Form</p>



<div class="content forms">
	
	<form>
		<label>title</label>
		<input type="text" name="title">
		<label>type</label>
		<input type="text" name="type">
		<input type="submit" >
	</form>
</div>

<%- include('./layout/footer')%>
</body>
</html>